.user-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  max-width: 300px;
}
.user-card button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.user-card h3 {
  font-size: 1.5em;
  margin: 10px 0 5px 0;
}